body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin: 1rem;
  padding: 1rem;
  background-color: #15151E;
  line-height: 1.6;
  letter-spacing: 1px;
}
h1 {
  color: #FF1E00;
  text-align: center;
  font-size: clamp(1.75rem, 7vw, 2.5rem);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
#standings {
  background-color: #15151E;
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  border: 1px solid #FF1E00;
  border-radius: 0.25rem;
}
#standings li {
  border-bottom: 1px solid #FF1E00;
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 1.5rem);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  transition: transform 0.2s ease;
  text-transform: uppercase;
}

#standings li:last-child {
  border: none;
}
/* Media Queries for different screen sizes */
@media (max-width: 37.5em) {
  body {
    padding: 1rem;
  }

  #standings {
    max-width: 100%;
  }

  #standings li {
    padding: 1rem;
  }
}
@media (max-width: 26em) {
  body {
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  #standings li {
    padding: 1rem;
  }
}
@media (max-width: 23em) {
  h1 {
    font-size: 1.5rem;
  }
}
